.mainContainer
	.aboutBox
		#sideBar
			%ul.sideList
				%li.home
					= link_to "Home", root_path
				%li.chapter.pageSlide#1
					= link_to "About Us", about_path
				%li.brothers.pageSlide#2
					= link_to "Brothers", brothers_path
				%li.alumni.pageSlide#3
					= link_to "Alumni", alumni_path
				%li.recruitment.pageSlide#4
					= link_to "Recruitment", recruitment_path
				%li.contact.pageSlide#5
					= link_to "Contact Us", contact_path

		.centerText
			.textBox
				%h1 About Us:
				%p Delta Sigma Pi is a professional co-ed business fraternity founded in 1907 at the New York University: School of Commerce, Accounts, and Finance by Harold Valentine Jacobs, Alexander Frank Makay, Alfred Moysello, and Henry Albert Tienken.  We are a combined aspect of both a student club and a fraternity, being structured by the dichotomy of business education and brotherhood.  Up until today, our organization has grown from coast to coast, with over 300 collegiate chapters and 235,000 members worldwide.
				%br
				%h1 Our Chapter:
				%p UCSD’s Omicron Sigma Chapter of Delta Sigma Pi was founded on May 22, 2004. Our chapter combines both intellectual knowledge and hands-on experience to provide the most comprehensive educational resources and concrete set of skills to utilize in the business world. We are dedicated to organic growth and individual development, constantly opening opportunities to our university, and establishing long lasting relationships among our members. Our goal is to help individuals seek out their potential, create value with each innovative pursuit, and expand our network of like-minded individuals pioneering the future to become successful leaders of tomorrow.
		.calendarText
			.textBox
				%h2 RECRUITMENT SCHEDULE
				%p THURSDAY, OCT 4: Meet the Chapter
				%p 8PM @ Rady 1S113
				%br
				%p FRIDAY, OCT 5: Alumni Mixer 
				%p 7PM @ The Forum (PC 4th Floor)
				%br
				%p MONDAY, OCT 8: Professional Night 
				%p 7:30PM @ Rady 1S114
				%br
				%p TUESDAY, OCT 9: Brotherhood Night 
				%p 7PM @ Peterson Loop
				%br
				%p THURS-FRI, OCT 11-12: Interviews 
				%p Sign-Up Only

%script
	(function()
	{ 
	var sneaky = new ScrollSneak(location.hostname), tabs = document.getElementById('sideBar').getElementsByTagName('li'), i = 0, len = tabs.length;
	for (; i < len; i++){ tabs[i].onclick = sneaky.sneak; }
	document.getElementById('next').onclick = sneaky.sneak;
	})();