.mainContainer
	.alumniBox
		#s1.pics.shadow
			= image_tag('where are we now.png')
			= image_tag('logo.png')
		#sideBar
			%ul.sideList
				%li.home
					= link_to "Home", root_path
				%li.chapter.pageSlide#1
					= link_to "About Us", about_path
				%li.brothers.pageSlide#2
					= link_to "Brothers", brothers_path
				%li.alumni.pageSlide#3
					= link_to "Alumni", alumni_path
				%li.recruitment.pageSlide#4
					= link_to "Recruitment", recruitment_path
				%li.contact.pageSlide#5
					= link_to "Contact Us", contact_path
		.centerText
			.textBox
				%h2 Alumni Feature:
				%h3 Ian Nguyen [Delta Class] with Tat Sun Ho [Epsilon Class], Irvin Nguyen [Epsilon Class] and Alan Lin [Zeta Class].
				%br
				%p
					%strong
						%em Experience at Delta Sigma Pi
				%br
				%p “My experience at Delta Sigma Pi was rewarding in many ways. It was as if we were starting a business from scratch. We went through hard times together as well as shared in prideful moments of success. For some of us, what we experienced during our college youth would establish a bond that has been unbreakable to this day and will last well into the future...
				%br
				%p ...During the Winter Quarter of 2006, our hard work resulted in the  recruitment of Epsilon class whom would prove to be large contributors to membership activity in both numbers as well as productivity. That class included one of my future best friends, Tat Sun Ho, who would not only become an integral member in rebuilding our chapter but also eventually my business partner in real life. It also included my legacy, Irvin Nguyen. The camaraderie we established with the "new blood" flourished during Spring as well as Summer to prepare for a strong recruitment effort during the fall of 2006. . . We fortified our membership with even more active members through the recruitment of Zeta Class which included another future best friend of ours, Alan Lin who was pledge class President.
				%br
				%p
					%strong
						%em Brotherhood Beyond Delta Sigma Pi
				%br
				%p ...Our brotherhood lasted beyond Delta Sigma Pi and university altogether. Tat, Alan, Irvin and I have traveled extensively together to Thailand, Malaysia, Singapore, Vietnam, Philippines, Cambodia and Indonesia together. We intend to add more countries to the list and perhaps, if time permits, more continents. We even recently attended the wedding of the founding class President, Carson Ng, along with other brothers Andrew Chang and Raymond Pai in Manila, Philippines. My big bro, Linda Loth, has also visited us in Vietnam and Singapore. There are several brothers that work professionally or manage businesses in Hong Kong and Shanghai that we run into whenever we are in town and/or vice versa. The alumni network of Delta Sigma Pi includes brothers in very prestigious positions and industries in various countries that are both professionally and socially beneficial.
				%br
				%p
					%strong
						%em Professionally Separated, Business Partners for life
				%br
				%p Although professionally separated, some of us are business partners for life. Tat followed me to Asia where he and I worked together at successfully building out a local investment bank (Thien Viet Securities) where Alan and Irvin took summer internships. We would also partner with senior Investment Bankers to start an M&A advisory practice called D2 Capital Partners (D2C). Tat and I also led a consortium of private investors to become significant shareholding partners and board members of Europe International Trading JSC (EIT), involved in trading, distributing and retailing imported cosmetics and personal / beauty care products, in which we would help it grow to over 100 employees, nearly 30 wholly-owned retail sales counters and a distribution channel including 150+ supermarket and 50+ traditional market wholesaler and retailers. Irvin also came to Vietnam and joined us at D2C along with assisting us and our partners in operating their business including a CFO seat at EIT. We are now expanding this business rapidly into new product categories and are in serious discussion with Alan about several opportunities given his business and professional experience and contacts in Asia. We look forward to developing our personal and professional relationships further to test boundaries stretching to infinite and if we fail, the time spent together would be more than worth the effort.
				%br
				%p
					%strong
						%em Lessons of our experience
				%br
				%p The most important lesson of our experience is that it was not just being a brother of Delta Sigma Pi that drew us together in our life beyond the chapter, but rather the capabilities, teamwork, aspirational drive and sacrifice that we displayed while being contributing members in the chapter. We are not only best of friends now, but also business partners for life built on a level of trust and loyalty that is unmatched and will likely never be. The degree of genuine sincerity and honesty is extremely rare and highly cherished in an extremely competitive and cutthroat professional and business world we live in. In our experience, usually having a competitive edge in numbers and scale is necessary, if at the very least fundamental in achieving success beyond ones aspirations as the collective efforts even the odds in a competitive business and professional landscape. I am extremely grateful for it and I am sure my other brothers are too.
		.calendarText
			.textBox
				%h2 RECRUITMENT SCHEDULE
				%p THURSDAY, OCT 4: Meet the Chapter
				%p 8PM @ Rady 1S113
				%p Casual Attire
				%br
				%p FRIDAY, OCT 5: Alumni Mixer 
				%p 7PM @ The Forum (PC 4th Floor)
				%p Business Casual
				%br
				%p MONDAY, OCT 8: Professional Night 
				%p 7:30PM @ Rady 1S114
				%p Professional Business Attire
				%br
				%p TUESDAY, OCT 9: Brotherhood Night 
				%p 7PM @ Peterson Loop
				%p Casual Attire
				%br
				%p THURS-FRI, OCT 11-12: Interviews
				%p By Appointment Only
				%p Professional Business Attire

%script
	(function()
	{ 
	var sneaky = new ScrollSneak(location.hostname), tabs = document.getElementById('sideBar').getElementsByTagName('li'), i = 0, len = tabs.length;
	for (; i < len; i++){ tabs[i].onclick = sneaky.sneak; }
	document.getElementById('next').onclick = sneaky.sneak;
	})();