.mainContainer
	.brothersBox
		.pics.shadow
			= image_tag('brothers banner.png')
		= render 'layouts/sidebar'
		.centerText
			.textBox
				- @values.each do |x|
					= image_tag("version2/#{x}")
				%p
				%br
				%p Brothers not pictured: Kimmy Cheung, Christine Dey, Che Ouyang, Yachen Sun, Nathan Wieneke
		= render 'layouts/calendar'