.mainContainer
	.chapterBox
		#sideBar
			%ul.sideList
				%li.home
					= link_to "Home", root_path
				%li.chapter.pageSlide#1
					= link_to "ΟΣ Chapter", chapter_path
				%li.brothers.pageSlide#2
					= link_to "Brothers", brothers_path
				%li.alumni.pageSlide#3
					= link_to "Alumni", alumni_path
				%li.recruitment.pageSlide#4
					= link_to "Recruitment", recruitment_path
				%li.contact.pageSlide#5
					= link_to "Contact Us", contact_path

		.centerText
			.textBox
				%h1 PURPOSE
				%p Delta Sigma Pi is a professional fraternity organized to foster the study of business in universities; to encourage scholarship, social activity and the association of students for their mutual advancement by research and practice; to promote closer affiliation between the commercial world and students of commerce, and to further a higher standard of commercial ethics and culture and the civic and commercial welfare of the community.
				%br
				%h1 FOUNDING
				%p Delta Sigma Pi was founded in 1907 at New York University: School of Commerce, Accounts and Finance by Harold Valentine Jacobs, Alexander Frank Makay, Alfred Moysello and Henry Albert Tienken. Today, coast to coast, more than 260 chapters and nearly 200,000 members support the goals and ideals of the Fraternity.
				%br
				%h1 THE CHAPTER
				%p The Delta Sigma Pi, Omicron Sigma chapter, located at the University of California, San Diego, was founded on May 22, 2004. After an intense year of hard work and perseverance, 26 founding members brought a new way to look at business at UCSD. The goal of the Omicron Sigma chapter is to bring professional development and business education to the campus, providing a vital supplement to the recently instated undergraduate business program.
		.calendarText
			.textBox
				%h2 RECRUITMENT SCHEDULE
				%p THURSDAY, Oct 4: Meet the Chapter
				%p 8PM @ Rady 1S113
				%br
				%p FRIDAY, OCT 5: Alumni Mixer 
				%p 7PM @ The Forum (PC 4th Floor)
				%br
				%p MONDAY, OCT 8: Professional Night 
				%p 7:30PM @ Rady 1S114
				%br
				%p TUESDAY, OCT 9: Brotherhood Night 
				%p 7PM @ Peterson Loop
				%br
				%p THURS-FRI, OCT 11-12: Interviews 
				%p Sign-Up Only

%script
	(function()
	{ 
	var sneaky = new ScrollSneak(location.hostname), tabs = document.getElementById('sideBar').getElementsByTagName('li'), i = 0, len = tabs.length;
	for (; i < len; i++){ tabs[i].onclick = sneaky.sneak; }
	document.getElementById('next').onclick = sneaky.sneak;
	})();