.superContainer
	%ul.listLeft
		%li.home.boxIt.navigation#1
			.homeImage
				= link_to image_tag('house.png'), root_path
		%li.chapter.boxIt.navigation#2
			.chapterImage
				= link_to image_tag('chapter.png'), chapter_path
		%li.brothers.boxIt.navigation#3
			.brothersImage
				= link_to image_tag('brothers.png'), brothers_path
	%ul.listRight
		%li.alumni.boxIt.navigation#4
			.alumniImage
				= link_to image_tag('alumni.png'), alumni_path
		%li.recruitment.boxIt.navigation#5
			.recruitmentImage
				= link_to image_tag('recruitment.png'), recruitment_path
		%li.contact.boxIt.navigation#6
			.contactImage
				= link_to image_tag('contactus.png'), contact_path
	.textContainer
		.mainText
			.textBox
				.alumniText alumni
				.brothersText brothers
				.chapterText chapter
				.contactText contact
				.recruitmentText recruit
				.homeText hello
		.calendar
			.textBox to be added
	.imageGallery
		%img
			= image_tag('picture.png')
			= image_tag('picture2.png')