.homeContainer
	.navList
		%ul#homeNav
			%li.home.boxIt.navigation#1
				.homeImage
					= link_to image_tag('house.png'), root_path
			%li.about.boxIt.navigation#2
				.aboutImage
					= link_to image_tag('chapter.png'), about_path
			%li.brothers.boxIt.navigation#3
				.brothersImage
					= link_to image_tag('brothers.png'), brothers_path
			%li.alumni.boxIt.navigation#4
				.alumniImage
					= link_to image_tag('alumni.png'), alumni_path
			%li.recruitment.boxIt.navigation#5
				.recruitmentImage
					= link_to image_tag('recruitment.png'), recruitment_path
			%li.contact.boxIt.navigation#6
				.contactImage
					= link_to image_tag('contactus.png'), contact_path
	.textContainer
		.sideText
			.textBox
				%h1 FOLLOW US:
				= link_to image_tag('facebook.gif'), 'https://www.facebook.com/ucsddsp'
				Like us on Facebook to follow up on upcoming news and events
		.mainText
			.textBox
				.alumniText
					%h1
						We 
						%strong span 
						the 
						%em globe. 
						Read our stories.
				.brothersText 
					%h1 
						Everyday people doing 
						%em extraordinary
						things.
				.aboutText
					%h1
						Let 
						%em our 
						focus become your focus
				.contactText 
					%h1 Questions? Partnerships? Want to hold an event at UCSD? Feel free to ask us anything.
				.recruitmentText 
					%h1 Involvement in our fraternity has successfully transitioned our members into the professional world.
					%br
					%h1 Learn how you can be a part of it too.

				.homeText
					%h1 WHO WE ARE
		.calendar
			.textBox
				%h1 RECRUITMENT
				%p THURSDAY, Oct 4: Meet the Chapter
				%p 8PM @ Rady 1S113
				%br
				%p FRIDAY, OCT 5: Alumni Mixer 
				%p 7PM @ The Forum (PC 4th Floor)
				%br
				%p MONDAY, OCT 8: Professional Night 
				%p 7:30PM @ Rady 1S114
				%br
				%p TUESDAY, OCT 9: Brotherhood Night 
				%p 7PM @ Peterson Loop
				%br
				%p THURS-FRI, OCT 11-12: Interviews 
	.imageGallery
		%img
			-#= image_tag('picture.png')
			-#= image_tag('picture2.png')