.homeContainer
	.pics.shadow
		= image_tag('recruitment banner.jpg')
		= image_tag('logo.png')
		= image_tag('picture1.png')
		= image_tag('picture2.png')
		= image_tag('picture3.png')
	.navList
		%ul
			%li.home.boxIt.navigation#1
				.homeImage
					%a{:href => root_path}
						%span
							= image_tag('house.png')
						%p Home
			%li.about.boxIt.navigation#2
				.aboutImage
					%a{:href => about_path}
						%span
							= image_tag('about.png')
						%p About Us
			%li.brothers.boxIt.navigation#3
				.brothersImage
					%a{:href => brothers_path}
						%span
							= image_tag('brothers.png')
						%p Brothers
			%li.alumni.boxIt.navigation#4
				.alumniImage
					%a{:href => alumni_path}
						%span
							= image_tag('alumni.png')
						%p Alumni
			%li.recruitment.boxIt.navigation#5
				.recruitmentImage
					%a{:href => recruitment_path}
						%span
							= image_tag('recruitment.png')
						%p Recruitment
			%li.contact.boxIt.navigation#6
				.contactImage
					%a{:href => contact_path}
						%span
							= image_tag('contactus.png')
						%p Contact Us
	.textContainer
		.sideText
			.textBox
				%h1 FOLLOW US:
				= link_to image_tag('facebook.gif'), 'https://www.facebook.com/ucsddsp'
				Like us on Facebook to follow up on upcoming news and events
		.mainText
			.textBox
				.homeText
					%h1 Welcome!
					%p
						Learn about 
						%em who 
						we are, 
						%em where 
						we come from, and 
						%em what 
						we do.
				.aboutText
					%h1 Who We Are
					%p 
						Let 
						%em our 
						focus become 
						%em your 
						focus.
				.brothersText 
					%h1 Learn About Us
					%p 
						Everyday people doing 
						%em extraordinary
						things.
				.alumniText
					%h1 Where We Are
					%p 
						We 
						%em span 
						the
						%strong globe. 
						Read our stories
				.contactText 
					%h1 Ask Us Anything
					%p Questions? Partnerships? Want to bring your presence at UCSD? Feel free to ask us anything. 
				.recruitmentText
					%h1 Come Join Us
					%p
						%em Brotherhood, Professionalism, Excellence.
						%br
						%p Learn how you can be a part of it.
		.calendar
			.textBox
				%h1 RECRUITMENT
				%p THURSDAY, OCT 4: Meet the Chapter
				%p 8PM @ Rady 1S113
				%p Casual Attire
				%br
				%p FRIDAY, OCT 5: Alumni Mixer 
				%p 7PM @ The Forum (PC 4th Floor)
				%p Business Casual
				%br
				%p MONDAY, OCT 8: Professional Night 
				%p 7:30PM @ Rady 1S114
				%p Professional Business Attire
				%br
				%p TUESDAY, OCT 9: Brotherhood Night 
				%p 7PM @ Peterson Loop
				%p Casual Attire
				%br
				%p THURS-FRI, OCT 11-12: Interviews
				%p By Appointment Only
				%p Professional Business Attire