.mainContainer
	.recruitmentBox
		.pics
			= image_tag('where are we now.png')
		#sideBar
			%ul.sideList
				%li.home
					= link_to "Home", root_path
				%li.chapter.pageSlide#1
					= link_to "About Us", about_path
				%li.brothers.pageSlide#2
					= link_to "Brothers", brothers_path
				%li.alumni.pageSlide#3
					= link_to "Alumni", alumni_path
				%li.recruitment.pageSlide#4
					= link_to "Recruitment", recruitment_path
				%li.contact.pageSlide#5
					= link_to "Contact Us", contact_path

		.centerText
			.textBox
				%h2 FAQ:
				%ul#toggle-view
					%li
						%h3 What is recruitment week?
						%span +
						.panel
							%p Recruitment week consists of a series of events for you to determine whether or not our organization is a right fit for you. Likewise, recruitment week also helps us determine whether or not you are a right fit for our fraternity. We encourage you to attend as many events as possible and to meet as many brothers and prospective members as you can.
					%li
						%h3 Why should I join?
						%span +
						.panel
							%p Currently, UC San Diego is known predominately for its sciences, giving a slight disadvantage to UCSD students who apply for business-orientated occupations. Additionally, UCSD has yet to establish an actual business major to compliment the available alternative studies.
							%br
							%p 
								These disadvantages can be countered by utilizing Delta Sigma Pi as a foundation of business. As a member, you will be able to attend exclusive events for our chapter. We are actively featuring speakers on our campus, and providing opportunities. To counter the lack of business emphasis in our university's curriculum, involvement in the fraternity will also help you develop tools, sourced from diverse backgrounds of educational and working experiences, for success in your professional life. After becoming a brother of the Fraternity, you are opened to a bigger network of people with common interests and ideas. Refer to our 
								= link_to "alumni page", alumni_path 
								for some of our stories!
					%li
						%h3 Can students of any major join?
						%span +
						.panel
							%p We typically only accept the following majors:
							%br
							%p • Economics
							%p • Management Science
							%p • Joint Economics and Mathematics
							%p • International Studies with Economics emphasis
							%br
							%p *Exceptions are made depending on the focuses and interests expressed by prospects during recruitment.
					%li
						%h3 What are the steps to becoming a member of Delta Sigma Pi?
						%span +
						.panel
							%p Recruitment week:
							%p We recommend attending as many recruitment events as possible and meeting as many brothers and other prospective members as you can. Remember to sign up for an interview slot during one of our events. After interviews are conducted, you will be notified if you received a bid  (an invitation to pledge for our fraternity).
							%br
							%p Pledging:
							%p The pledging process is 6-7 weeks and serves as an assessment period for us to further evaluate your fit. Each pledge class will be required to complete a series of projects. Our unique approach to the pledge education program serves to benefit the pledge class above all else. We take pride in this.
							%br
							%p Initiation:
							%p The initiation ceremony is held at the end of the pledging period. After participating in the initiation ceremony, you will then be acknowledged as a brother of Delta Sigma Pi.
					%li
						%h3 What level of knowledge is expected of me?
						%span +
						.panel
							%p There is no specific set of knowledge that you are required to have. We look at each individual on a case by case basis. More commonly, we look for someone who is a self-starter. 
				%br
				%p 
					More questions? 
					= link_to "Contact us", contact_path
				%p 
					Download the
					= link_to "application", :controller => "pages", :action => "download"
					here
		.calendarText
			.textBox
				%h2 RECRUITMENT SCHEDULE
				%p THURSDAY, OCT 4: Meet the Chapter
				%p 8PM @ Rady 1S113
				%br
				%p FRIDAY, OCT 5: Alumni Mixer 
				%p 7PM @ The Forum (PC 4th Floor)
				%br
				%p MONDAY, OCT 8: Professional Night 
				%p 7:30PM @ Rady 1S114
				%br
				%p TUESDAY, OCT 9: Brotherhood Night 
				%p 7PM @ Peterson Loop
				%br
				%p THURS-FRI, OCT 11-12: Interviews 
				%p Sign-Up Only

%script
	(function()
	{ 
	var sneaky = new ScrollSneak(location.hostname), tabs = document.getElementById('sideBar').getElementsByTagName('li'), i = 0, len = tabs.length;
	for (; i < len; i++){ tabs[i].onclick = sneaky.sneak; }
	document.getElementById('next').onclick = sneaky.sneak;
	})();