.mainContainer
	.recruitmentBox
		#sideBar
			%ul.sideList
				%li.home
					= link_to "Home", root_path
				%li.chapter.pageSlide#1
					= link_to "ΟΣ Chapter", chapter_path
				%li.brothers.pageSlide#2
					= link_to "Brothers", brothers_path
				%li.alumni.pageSlide#3
					= link_to "Alumni", alumni_path
				%li.recruitment.pageSlide#4
					= link_to "Recruitment", recruitment_path
				%li.contact.pageSlide#5
					= link_to "Contact Us", contact_path

		.centerText
			.textBox
				%h2 Why pledge?
				%br
				%p Currently, the prestige of the University of California, San Diego is known for its sciences.  This gives a slight disadvantage to UCSD students who apply for business-orientated occupations because companies commonly recognize UCSD as a school of science, rather than one with business potential.  Additionally, UCSD has yet to establish an actual business major to compliment the available alternative studies.
				%br
				%p These disadvantages can be countered from utilizing Delta Sigma Pi as a foundation of business.  We provide tools sourced from diverse backgrounds of educational and working experience that make up for the lack of business emphasis in our university.  After becoming a brother of the Fraternity, you are opened to a bigger network of people with common interests and ideas. 
				%br
				%h2 How long is the pledging process? What does it entail?
				%br
				%p The pledging process is # weeks.  Think of it as an interview process to show your dedication to the position you want in a company: Delta Sigma Pi.  Our program is made to prepare pledges through various projects and obstacles as a group to establish lasting relationships.  The purpose is to help shape pledges into being capable and confident individuals who can achieve their aspirations.
				%br
				%br
				%h2 FAQ:
				%ul#toggle-view
					%li
						%h3 How are you different from a business club?
						%span +
						.panel
							%p Our unique installation as a club and a fraternity allows for individuals to make long lasting relationships while and after pledging.  We provide the learning aspect of what a club may entail, while creating strong bonds among members.
							%br
							%p Because we are a fraternity, there’s a pledging process.  The pledging period, as well as the application week during recruitment, is a learning experience in itself.  Our focus for pledge classes is to encompass business skills and knowledge, so that you can apply what you’ve learned during this period directly into the corporate world.
					%li
						%h3 Can students of any major join?
						%span +
						.panel
							%p We typically only accept the following majors:
							%br
							%p • Economics
							%p • Management Science
							%p • Joint Economics and Mathematics
							%p • International Studies with Economics emphasis
							%p *Exceptions are made depending on the focuses and interests expressed by prospects during recruitment.
					%li
						%h3 How much time commitment should I expect from joining?
						%span +
						.panel
							%p DSP is expected to be one of your top priorities, complimenting school and work.  Brothers are encouraged to actively collaborate with each other in fostering the purpose of the fraternity—to encourage scholarship, social activity, and the association of students for their mutual advancement in research and practice; to promote closer affiliation between the commercial world and students of commerce; and to further a higher standard of commercial ethics and culture and the civic and commercial welfare of the community.
					%li
						%h3 What might I expect to do?
						%span +
						.panel
							%p We are pillared by community service, professionalism, and brotherhood.  These key areas are stimulated by various events that include presentations, key-note speakers, projects, retreats, fundraising, company tours, critiques, interview/resume review sessions, private company invites, and more.  The main influence of success in these areas comes from the idea that, the more you put into the Fraternity, the more you get out of it.
					%li
						%h3 Can I apply for DSP again if I am not accepted?
						%span +
						.panel
							%p Yes.  If you were not accepted during the first round and are still interested in joining, please don’t feel discouraged and apply again.  This highlights your dedication to our organization and we will reconsider you with this acknowledgement.  We advise you to take the time between the first round and the next to improve your application and bring something new to the table.
		.calendarText
			.textBox
				%h2 RECRUITMENT SCHEDULE
				%p THURSDAY, Oct 4: Meet the Chapter
				%p 8PM @ Rady 1S113
				%br
				%p FRIDAY, OCT 5: Alumni Mixer 
				%p 7PM @ The Forum (PC 4th Floor)
				%br
				%p MONDAY, OCT 8: Professional Night 
				%p 7:30PM @ Rady 1S114
				%br
				%p TUESDAY, OCT 9: Brotherhood Night 
				%p 7PM @ Peterson Loop
				%br
				%p THURS-FRI, OCT 11-12: Interviews 
				%p Sign-Up Only

%script
	(function()
	{ 
	var sneaky = new ScrollSneak(location.hostname), tabs = document.getElementById('sideBar').getElementsByTagName('li'), i = 0, len = tabs.length;
	for (; i < len; i++){ tabs[i].onclick = sneaky.sneak; }
	document.getElementById('next').onclick = sneaky.sneak;
	})();